@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

/* Ocultar a barra de rolagem para Chrome, Safari e Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Ocultar a barra de rolagem para IE, Edge e Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px; /* Altura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Cantos arredondados do fundo */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Cantos arredondados do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar quando o mouse passa por cima */
}

/* Para Firefox */
.scrollable-element {
    scrollbar-width: thin; /* Torna a barra de rolagem mais fina */
    scrollbar-color: #888 #f1f1f1; /* Cor do polegar e do fundo */
}
.torn-paper {
  position: relative;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.torn-paper:before,
.torn-paper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.torn-paper:before {
  top: -10px;
  left: 0;
  transform: rotate(-2deg);
}

.torn-paper:after {
  bottom: -10px;
  left: 0;
  transform: rotate(2deg);
}